* {
    margin: 0;
    padding: 0;
}
.a {
    border: 1px solid #000;
    height: 1500px;

    background-color: #ffff00;
    background-image: url(../img/ramen.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 100px) 200px;
    background-size: auto 50%;
}
.b {  
    border: 1px solid #000;
    height: 1500px;

    background: #ffff00 url(../img/ramen.jpg) no-repeat calc(100% - 100px) 200px / auto 50%;
}
.c {
    border: 1px solid red;
    height: 1000px;
    
    background: purple url(../img/ramen.jpg) no-repeat 50% 50% / contain;
    background-blend-mode: multiply;
}
.d {
    border: 1px solid red;
    height: 1000px;

    background: url(../img/ramen.jpg) no-repeat 0 0 / 400px auto, url(../img/steak.jpg) no-repeat 0 0 / 400px auto, url(../img/icecream.jpg) no-repeat 0 0 / 600px auto
}
.e {
    border: 1px solid red;

    height: 1000px;
    
    background: url(../img/ramen.jpg) no-repeat 50% 50% / 800px auto, linear-gradient(30deg,red 40%, pink 50%, blue 60%);
    /* background: linear-gradient(30deg,rgba(255, 0, 0, 0.38) 40%, pink 50%, blue 60%); */
}
.e .box {
    width: 400px;
    height: 800px;

    background-color: rgba(255, 255, 255, .5);
    
    margin: 0 auto;
    margin-top: 100px;

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}